<div id="chart" class="center">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [labels]="chartOptions.labels"
    [responsive]="chartOptions.responsive"
  ></apx-chart>
</div>
<div>
  <div>
    <p class="card-text">{{this.message}}</p>
  </div>
</div>
<div id="chart" class="center">
  <apx-chart
    [series]="chartOptions2.series"
    [chart]="chartOptions2.chart"
    [labels]="chartOptions2.labels"
    [responsive]="chartOptions2.responsive"
  ></apx-chart>
</div>